.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headerDivider {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    height: 124px;
    position: absolute;
    right: 249px;
    top: 10px;
}

.vertical-divider {
    border-left: 2px solid rgba(255, 255, 255, .5)
}

.circled-picture {
    height: 248px;
    width: 248px;
}

.btn-border {
    border: 2px solid deepskyblue;
    border-radius: 5px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

/*!* Smartphones (portrait and landscape) ----------- *!*/
/*@media only screen*/
/*and (min-device-width : 320px)*/
/*and (max-device-width : 480px) {*/
/*    !* Styles *!*/
/*    .circled-picture {*/
/*        height: 124px;*/
/*        width: 124px;*/
/*    }*/
/*}*/

/*!* Smartphones (landscape) ----------- *!*/
/*@media only screen*/
/*and (min-width : 321px) {*/
/*    !* Styles *!*/
/*}*/

/*!* Smartphones (portrait) ----------- *!*/
/*@media only screen*/
/*and (max-width : 320px) {*/
/*    !* Styles *!*/
/*}*/

/*!* iPads (portrait and landscape) ----------- *!*/
/*@media only screen*/
/*and (min-device-width : 768px)*/
/*and (max-device-width : 1024px) {*/
/*    !* Styles *!*/
/*    .circled-picture {*/
/*        height: 248px;*/
/*        width: 248px;*/
/*    }*/

/*}*/

/*!* iPads (landscape) ----------- *!*/
/*@media only screen*/
/*and (min-device-width : 768px)*/
/*and (max-device-width : 1024px)*/
/*and (orientation : landscape) {*/
/*    !* Styles *!*/
/*}*/

/*!* iPads (portrait) ----------- *!*/
/*@media only screen*/
/*and (min-device-width : 768px)*/
/*and (max-device-width : 1024px)*/
/*and (orientation : portrait) {*/
/*    !* Styles *!*/
/*}*/

/*!* Desktops and laptops ----------- *!*/
/*@media only screen*/
/*and (min-width : 1224px) {*/
/*    !* Styles *!*/
/*    .circled-picture {*/
/*        height: 248px;*/
/*        width: 248px;*/
/*    }*/
/*}*/

/*!* Large screens ----------- *!*/
/*@media only screen*/
/*and (min-width : 1824px) {*/
/*    !* Styles *!*/
/*}*/